on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

name: Flake Check

jobs:
  flake-check:
    name: Flake check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
      - name: Run Nix Flake Check
        env:
          NIXPKGS_ALLOW_INSECURE: 1
        run: nix flake check --impure
